body{
    background-color: #222327;
   font-family: ;
   /* overflow: hidden; */
}
h1,h3,ul,h2{
  font-family: "Lalezar", system-ui;
}
h3{
    display: none;
}
.section{
    /* display: none; */
}
.vid{
    display: none;
}
.sPage{
    display: none;
    

}   
